<div class="div-transparent form-group">
  <div class="error_messages">
    <%= @user.errors.full_messages.join(', ') %>
  </div>
  <%= form_for @user, :html => {:class => "main-form"} do |t| %>
  <div id="email">
    <%= t.text_field :email, :class => "form-control top-margin", placeholder: "Email" %>
  </div>
  <div id="password">
    <%= t.password_field :password, :class => "form-control top-margin", placeholder: "Password" %>
  </div>
  <div id="confirm_password">
    <%= t.password_field :password_confirmation, :class => "form-control top-margin", placeholder: "Confirm password" %>
  </div>

  <%= t.submit :class => "submit-button btn btn-primary", :disable_with => "Please wait..." %>
  <% end %>

</div>