<div class="div-transparent div-user" data-role="content">
  <strong>Hi <%= @user.email %>!</strong>
  <%= link_to "Edit Profile", edit_user_path(current_user), {"data-ajax" => "false"} %>
  <% if current_user %>
    <% current_user.pages.each do |page| %>
      <% @page = page %>
      <% page_user = @page.page_users.where('user_id=?',current_user.id).first %>
          <% next if page_user.changes.empty? %>
          <div data-role="collapsible" data-collapsed="true" data-theme="b" data-content-theme="c">
            <h3><%= "Page: #{page.ending}" %></h3>
            <strong>Permalink:</strong><br>
              <a href="<%= page_user.permalink %>" class="permalink"><%= page_user.permalink %></a>
            <form>
              <fieldset data-role="controlgroup">
                <% page_user.changes.each do |change, index| %>
                <input type="checkbox" name="checkbox-<%=change.id%>" id="checkbox-<%=change.id%>" checked>
                <label for="checkbox-<%=change.id%>">Change: "<%= change.find_text %>" to "<%= change.replace_text %>"</label>

                <% end %> <!-- do page -->
              </fieldset>
              <div data-role="controlgroup" data-type="horizontal" class="center">
                <a href="/wiki/<%=@page.ending.split(' ').join('_')%>" data-role="button" data-icon="check" data-mini="true", data-ajax="false">Apply selected</a>
                <!--<%= link_to "Delete selected", delete_many_path, 'method' => 'post', 'data-role' => 'button', 'data-mini' => 'true', 'data-ajax' => 'false', 'data-icon' => 'delete' %>-->
                <%= link_to "Delete page", page_user_path(page_user), :method => "delete", :confirm => 'Are you sure you want to delete this page?', 'data-ajax' => 'false', 'data-icon' => 'delete', 'data-role' => 'button', 'data-mini' => 'true' %>
              </div>
            </form>
          </div>
    <% end %> <!-- do current user -->
  <% end %> <!-- if current user -->
</div>