<div class="div-transparent div-user">
  <strong>Hi <%= @user.email %>!</strong>
  <%= link_to "Edit Profile", edit_user_path(current_user), {"data-ajax" => "false"} %>
  <% if current_user %>
    <div>
    <% current_user.pages.each do |page| %>
      <% @page = page %>
      <% page_user = @page.page_users.where('user_id=?',current_user.id).first %>
          <div data-role="content">

            <div data-role="collapsible" data-collapsed="false" data-theme="e" data-content-theme="c">

              <h3><%= "Page: #{page.ending}" %></h3>
              <form>
                <fieldset data-role="controlgroup">
                   <% page_user.changes.each_with_index do |change, index| %>

                  <input type="checkbox" name="checkbox-<%=index%>" id="checkbox-<%=index%>">
                  <label for="checkbox-<%=index%>"><%= change.find_text %></label>

<!--                   <input type="checkbox" name="checkbox-2" id="checkbox-2">
                  <label for="checkbox-2">Two</label>
                  <input type="checkbox" name="checkbox-3" id="checkbox-3">
                  <label for="checkbox-3">Three</label> -->
                  <% end %>
                </fieldset>
              </form>

            </div>
          </div>
        </div>
      </div>

    </div>

    <% end %>
  <% end %> <!-- if current user -->
</div>