<head>
  <%= csrf_meta_tags %>
</head>

<body>
<div class="container div-margin">
  <div class="div-transparent div-margin">

  <%= form_tag("/wikis/new", :method => "get", :class => "pure-form form-ours", :remote => true) do %>
    <%= text_field_tag "url", nil, :class => "textbox-wide-tall", placeholder: "Enter url" %><br>
    <%= text_field_tag "search", nil, :class => "textbox-wide", placeholder: "Enter search term" %>
    <%= text_field_tag "replace", nil, :class => "textbox-wide", placeholder: "Enter replace term" %>
    <%= submit_tag "Submit", :class => "submit-button pure-button pure-button-primary" %>
  <% end %>

  </div>

  <div class="wikipage"></div>

</container>
</body>